
<div id="modalReportSale" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Báo cáo bán hàng hôm nay</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                      <div class="table-responsive m-b-0">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th class="w-30 text-center">#</th>
                                      <th>Thời gian</th>
                                      <th>Mã hóa đơn</th>
                                      <th class="text-right">Tổng tiền hàng</th>
                                      <th class="text-right">Giảm giá</th>
                                      <th class="text-right">Thu khác</th>
                                      <th class="text-right">Thành tiền</th>
                                  </tr>
                              </thead>
                              <tbody id="tbdReportSale">
                             
                              </tbody>
                          </table>
                      </div>
                  </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


